<!DOCTYPE html>
<html>
<head>
    <title>Thư viện số</title>
    <meta charset="utf-8">
    <meta name="description" content="Traveling HTML5 Template" />
    <meta name="author" content="Design Hooks" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/screen4.css" rel="stylesheet" />
    <link href="~/Content/lightslider.css" rel="stylesheet" />

</head>
<body class="home" id="page">
    <!-- Header -->
    <header class="main-header">
        <img src="~/images/images.png" />
        <div class="container">
            <div class="header-content">

                <div></div>
                <nav class="site-nav">

                    <ul class="clean-list site-links">
                        <li class="nav-item">
                            <a href="#sachyeuthich">Được yêu thích</a>
                        </li>
                        <li>
                            <a href="#docnhieunhat">Đọc nhiều nhất</a>
                        </li>
                        <li>
                            <a href="#taivenhieu">Tải về nhiều nhất</a>
                        </li>
                        <li>
                            <a href="#moiupdate">Mới được update</a>
                        </li>

                    </ul>
                    @Html.ActionLink("Đăng nhập", "Login", "Home", null, new { @class = "btn btn-outlined" })
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Cont2ent -->
    <div class="content-box">
        <!-- Hero Section -->
        <section class="section section-hero">
            <div class="hero-box">
                <div class="container">
                    <div class="hero-text align-center" data-text="Thư viện trực tuyến">
                        <h1>Thư viện trực tuyến</h1>
                        <p>Đọc sách mọi lúc mọi nơi</p>
                    </div>
                    @using (Html.BeginForm("Search_Results", "Home", FormMethod.Post))
                    {
                        <div class="destinations-form">
                            <div class="input-line">
                                <input type="text" name="booktitle" value="" class="form-input check-value" placeholder="Tên sách, Chủ đề, Tên tác giả . . ." />
                                <button type="submit" name="destination-submit" class="form-submit btn btn-special">Tìm kiếm</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Statistics Box -->
            <div class="container">
                <div class="statistics-box">
                    <div class="statistics-item">
                        <span class="value">2,300</span>
                        <p class="title">Đầu sách</p>
                    </div>

                    <div class="statistics-item">
                        <span class="value">200+</span>
                        <p class="title">Chủ đề</p>
                    </div>

                    <div class="statistics-item">
                        <span class="value">35,000</span>
                        <p class="title">Lượt truy cập</p>
                    </div>

                    <div class="statistics-item">
                        <span class="value">20,000</span>
                        <p class="title">Đánh giá</p>
                    </div>
                </div>
            </div>
        </section>

        <!-------------------------------------------------------------------->
        <div class="container" id="noidung3">
            <div class="row">
                <div class="col-lg-5" id="dmc">
                    <div class="dmc1">
                        <div class="dmc">
                            <h3 style="">CHỦ ĐỀ CHÍNH</h3>
                            <hr />
                        </div>
                        <ul>
                            @{ THUVIENSO.Models.THUVIENSO_Entities db = new THUVIENSO.Models.THUVIENSO_Entities();
                                var name = from s in db.booktopics
                                           select s;
                            }
                            @foreach (var item in name)
                            {
                                <li>@Html.ActionLink(item.nametopic, "ViewBook", new { id = item.id })</li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="col-lg-19" id="noidung">
                    <div class="noidung1" style="height:15px">


                    </div>
                    @RenderBody()
                </div>

            </div>
        </div>

        <div class="container" id="listpt">
            <div id="sachyeuthich">
                <h3>SÁCH ĐƯỢC YÊU THÍCH</h3>
                <hr />

                <div class="box">
                    <img src="~/images/book/1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh2.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh3.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh4.jpg" />
                </div>
            </div>

        </div>

        <div class="container" id="listpt">
            <div id="docnhieunhat">
                <h3>SÁCH ĐỌC NHIỀU NHẤT</h3>
                <hr />

                <div class="box">
                    <img src="~/images/book/1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh2.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh3.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh4.jpg" />
                </div>
            </div>

        </div>

        <div class="container" id="listpt">
            <div id="taivenhieu">
                <h3>SÁCH TẢI VỀ NHIỀU NHẤT</h3>
                <hr />

                <div class="box">
                    <img src="~/images/book/1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh2.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh3.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh4.jpg" />
                </div>
            </div>

        </div>

        <div class="container" id="listpt">
            <div id="moiupdate">
                <h3>SÁCH MỚI UPDATE</h3>
                <hr />

                <div class="box">
                    <img src="~/images/book/1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh1.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh2.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh3.jpg" />
                </div>

                <div class="box">
                    <img src="~/Content/img/anh4.jpg" />
                </div>
            </div>

        </div>




    </div>
        <!-- Footer -->
        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="widget widget_links">
                            <h5 class="widget-title">Bùi Ngọc Khánh</h5>
                            <p>Ngày sinh: 18/10/1999</p>
                            <p>Số điện thoại: 0368699895</p>
                            <p>Địa chỉ: Yên Bái</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="widget widget_links">
                            <h5 class="widget-title">Đặng Thị Trang</h5>
                            <p>Ngày sinh: 08/07/1999</p>
                            <p>Số điện thoại: 0981013897</p>
                            <p>Địa chỉ: Nam Định</p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="widget widget_links">
                            <h5 class="widget-title">Lê Quang Huy</h5>
                            <p>Ngày sinh: 08/10/1999</p>
                            <p>Số điện thoại: 0969608810</p>
                            <p>Địa chỉ:  Hải Dương</p>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="widget widget_social">
                            <h5 class="widget-title">Subscribe to our newsletter</h5>
                            <form class="subscribe-form">
                                <div class="input-line">
                                    <input type="text" name="subscribe-email" value="" placeholder="Your email address" />
                                </div>
                                <button type="button" name="subscribe-submit" class="btn btn-special no-icon">Subscribe</button>
                            </form>

                            <ul class="clean-list social-block">
                                <li>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/Scripts/JQuery3.3.1.js"></script>
        <script src="~/Scripts/lightslider.js"></script>
        <!-- Scripts -->
        <script src="~/Scripts/scrips.js"></script>
        @Scripts.Render("~/template/js")




</body>
</html>
