@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid">
        <div class="row">
            <!---------------------------------------------------------------------------------------------->
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------------->
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------------->
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------------->
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height:270px; text-align:center">
                <div style="height:225px;">
                    <div style=" height:225px;">
                        <img src="~/images/book/1.jpg" style="height:225px; padding-right:20px" />
                    </div>
                    <div style="width:154px;height:50px;margin-left:62px;margin-top:10px">
                        <h3>Anh có cùng em đi đến hết cuộc đời ?</h3>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------------->







        </div>
    </div>

