@model IEnumerable<THUVIENSO.Models.book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{
    <ul>
        <a href="../Home/Login" >
            <li>
                <img src="@Url.Content(item.img)" height="150" width="120" style="padding-right:10px" />
                <div style="height:80px; ">
                    <span style="font-family:Arial">@item.booktitle</span>
                    <p style="font-size:12px;font-family:Arial">@item.authorname</p>
                </div>
                <a href="Home/Login" ><button id="btn11" class="btn btn-outline-success">Tải xuống</button></a>
                
            </li>
        </a>
    </ul>

}


