@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
 


    <embed src="https://vinasupport.com/my_pdf_file.pdf" style=" height:880px; width:100%" type="application/pdf">



</body>
</html>