
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test2</title>
    <link href="../../css/slidecss.css" rel="stylesheet" />
    <script src='http://code.jquery.com/jquery-1.11.1.js' type='text/javascript'></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135467015-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135467015-1');
    </script>

</head>
<body>

    <div id="page-content">
        <div class="banner">
            <div class="banner-images">
                <div id="slide" class="slide" style="height: 432px;">
                    <a href="/en/detail/2373">
                        <div class="img img4" data-slide-imgid="0" onclick="right()"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/316-5476.jpg"></div>
                    </a>
                    <a href="/en/detail/783">
                        <div class="img img5" data-slide-imgid="1"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/315-09f1.jpg"></div>
                    </a>
                    <a href="/en/detail/16688">
                        <div class="img img5" data-slide-imgid="2"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/313-a7f3.jpg"></div>
                    </a>
                    <a href="/en/detail/10615">
                        <div class="img img5" data-slide-imgid="3"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/314-7b0e.jpg"></div>
                    </a>
                    <a href="/en/detail/1815">
                        <div class="img img1" data-slide-imgid="4"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/311-b226.jpg"></div>
                    </a>
                    <a href="/en/detail/1929">
                        <div class="img img2" data-slide-imgid="5" onclick="left()"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/312-031b.jpg"></div>
                    </a>
                    <a href="/en/detail/2332">
                        <div class="img img3" data-slide-imgid="6"><img src="http://cn.e.pic.mangatoon.mobi/homepage-banners/309-aa31.jpg"></div>
                    </a>
                    <div class="slide-bt" style="margin-left: -71px;"><span data-slide-bt="1" onclick="tz(1)" class=""></span><span data-slide-bt="2" onclick="tz(2)" class=""></span><span data-slide-bt="3" onclick="tz(3)" class=""></span><span data-slide-bt="4" onclick="tz(4)" class=""></span><span data-slide-bt="5" onclick="tz(5)" class=""></span><span data-slide-bt="6" onclick="tz(6)" class=""></span><span data-slide-bt="7" onclick="tz(7)" class="on"></span></div>
                </div>
                <div class="change-banner-left">
                    <span class="iconfont arrow"></span>
                </div>
                <div class="change-banner-right">
                    <span class="iconfont arrow"></span>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <h2 class="item-title">Hottest Comics</h2>
                <a href="/en/genre/hot">
                    <span class="see-all">See all &gt;</span>
                </a>
                <div class="item-2">
                    <div class="content-3">
                        <a href="/en/detail/1732">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1732df55.jpg" alt="The Heiress VS Young Ruffian" width="100%"></div>
                        </a>
                        <div class="content-title">The Heiress VS Young Ruffian</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1752">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1752404c.jpg" alt="Pure Girl" width="100%"></div>
                        </a>
                        <div class="content-title">Pure Girl</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/21">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/213c41.jpg-posterend4" alt="Hunk No.1" width="100%"></div>
                        </a>
                        <div class="content-title">Hunk No.1</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/24">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/24a0c5.jpg-posterend4" alt="Arrogant CEO: Wife Hunter" width="100%"></div>
                        </a>
                        <div class="content-title">Arrogant CEO: Wife Hunter</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/7">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/79b46.jpg-posterend4" alt="My Underworld Boyfriend" width="100%"></div>
                        </a>
                        <div class="content-title">My Underworld Boyfriend</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/5">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/5e495.jpg" alt="Tales of Demons and Gods" width="100%"></div>
                        </a>
                        <div class="content-title">Tales of Demons and Gods</div>
                    </div>
                    <div class="content-3">
                        <a href="/en/detail/785">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/7859c5a.jpg" alt="Bossy President" width="100%"></div>
                        </a>
                        <div class="content-title">Bossy President</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/496">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/4961736.jpg-posterup4" alt="Boy in A Girls' School" width="100%"></div>
                        </a>
                        <div class="content-title">Boy in A Girls' School</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/408">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/4087b12.jpg-posterend4" alt="Trouble With The President" width="100%"></div>
                        </a>
                        <div class="content-title">Trouble With The President</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/97834">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/97834976f.jpg" alt="Princess Tomboy &amp; Prince Grumpy" width="100%"></div>
                        </a>
                        <div class="content-title">Princess Tomboy &amp; Prince Grumpy</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/139346">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/139346a55a.jpg" alt="Trapped with the CEO" width="100%"></div>
                        </a>
                        <div class="content-title">Trapped with the CEO</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1815">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/181583bd.jpg-posterend4" alt="Emp, Don't Be Too Harsh!" width="100%"></div>
                        </a>
                        <div class="content-title">Emp, Don't Be Too Harsh!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <h2 class="item-title">New Comics</h2>
                <a href="/en/genre/new">
                    <span class="see-all">See all &gt;</span>
                </a>
                <div class="item-2">
                    <div class="content-3">
                        <a href="/en/detail/351680">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/351680132a.jpg-posternew4" alt="Just A Girl He Knows" width="100%"></div>
                        </a>
                        <div class="content-title">Just A Girl He Knows</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/351664">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/351664c6da.jpg-posternew4" alt="ZPB (eng)" width="100%"></div>
                        </a>
                        <div class="content-title">ZPB (eng)</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/350430">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3504309541.jpg-posternew4" alt="Just For Fun" width="100%"></div>
                        </a>
                        <div class="content-title">Just For Fun</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/260514">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/26051479a9.jpg-posternew4" alt="Adorable Princess" width="100%"></div>
                        </a>
                        <div class="content-title">Adorable Princess</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/260506">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/2605069f55.jpg-posternew4" alt="Top Doctor's Urban Adventure" width="100%"></div>
                        </a>
                        <div class="content-title">Top Doctor's Urban Adventure</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/273886">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/2738860389.jpg-posternew4" alt="The Ten Years I Love Most" width="100%"></div>
                        </a>
                        <div class="content-title">The Ten Years I Love Most</div>
                    </div>
                    <div class="content-3">
                        <a href="/en/detail/345510">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/345510cf4a.jpg-posternew4" alt="Love at first fright" width="100%"></div>
                        </a>
                        <div class="content-title">Love at first fright</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/345504">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/345504e8d8.jpg-posternew4" alt="The Return Of The Moonlight Princess" width="100%"></div>
                        </a>
                        <div class="content-title">The Return Of The Moonlight Princess</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/345502">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/345502eaec.jpg-posternew4" alt="I Want Your Love BL" width="100%"></div>
                        </a>
                        <div class="content-title">I Want Your Love BL</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/345501">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3455016b84.jpg-posternew4" alt="Rex Life" width="100%"></div>
                        </a>
                        <div class="content-title">Rex Life</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/345497">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3454973654.jpg-posternew4" alt="Conqueror" width="100%"></div>
                        </a>
                        <div class="content-title">Conqueror</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/345475">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3454756662.jpg-posternew4" alt="NIGHT CLAW" width="100%"></div>
                        </a>
                        <div class="content-title">NIGHT CLAW</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <h2 class="item-title">Novel - Read and write anywhere</h2>
                <a href="/en/genre/novel">
                    <span class="see-all">See all &gt;</span>
                </a>
                <div class="item-2">
                    <div class="content-3">
                        <a href="/en/detail/265763">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/2657633b73.jpg-posterend4" alt="Travel With You 😍" width="100%"></div>
                        </a>
                        <div class="content-title">Travel With You 😍</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/312196">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/312196af7f.jpg-posterup4" alt="Living With The Past" width="100%"></div>
                        </a>
                        <div class="content-title">Living With The Past</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/145442">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/145442681e.jpg-posterend4" alt="Like Father, Like Son" width="100%"></div>
                        </a>
                        <div class="content-title">Like Father, Like Son</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/215362">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/21536238e3.jpg" alt="I Love My Teacher" width="100%"></div>
                        </a>
                        <div class="content-title">I Love My Teacher</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/9792">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/fictions-posters/9792c91a.jpg" alt="Pure Girl" width="100%"></div>
                        </a>
                        <div class="content-title">Pure Girl</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/194235">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1942355471.jpg-posterup4" alt="Possessive Husband's Pretty Wife" width="100%"></div>
                        </a>
                        <div class="content-title">Possessive Husband's Pretty Wife</div>
                    </div>
                    <div class="content-3">
                        <a href="/en/detail/295786">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/29578625ba.jpg-posterend4" alt="DO You Love Me ?" width="100%"></div>
                        </a>
                        <div class="content-title">DO You Love Me ?</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/150318">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/15031812f7.jpg-posterend4" alt="IN LOVE WITH THE TYRANT" width="100%"></div>
                        </a>
                        <div class="content-title">IN LOVE WITH THE TYRANT</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/201808">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/201808877f.jpg" alt="You'Re My Everything" width="100%"></div>
                        </a>
                        <div class="content-title">You'Re My Everything</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/260153">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/260153cbb1.jpg-posterend4" alt="HE AND HIS SON" width="100%"></div>
                        </a>
                        <div class="content-title">HE AND HIS SON</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/338147">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/338147111a.jpg-posternew4" alt="Fall In Love At First Dance" width="100%"></div>
                        </a>
                        <div class="content-title">Fall In Love At First Dance</div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/330463">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3304631468.jpg-posterup4" alt="My Badboy" width="100%"></div>
                        </a>
                        <div class="content-title">My Badboy</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list" style="background-color:#F6D3D8;">
            <div class="list-item">
                <h2 class="item-title">Genres</h2>
                <a href="/en/genre">
                    <div class="see-all">See all &gt;</div>
                </a>
                <div id="list-channels">
                    <div class="channel" tag-id="8">
                        <a class="channel-a activity" href="/en/genre/tags/8">Romance</a>
                    </div>
                    <div class="channel" tag-id="32">
                        <a class="channel-a " href="/en/genre/tags/32">Completed</a>
                    </div>
                    <div class="channel" tag-id="10">
                        <a class="channel-a " href="/en/genre/tags/10">Fantasy</a>
                    </div>
                    <div class="channel" tag-id="7">
                        <a class="channel-a " href="/en/genre/tags/7">Action</a>
                    </div>
                    <div class="channel" tag-id="29">
                        <a class="channel-a " href="/en/genre/tags/29">Adventure</a>
                    </div>
                    <div class="channel" tag-id="13">
                        <a class="channel-a " href="/en/genre/tags/13">Comedy</a>
                    </div>
                    <div class="channel" tag-id="4">
                        <a class="channel-a " href="/en/genre/tags/4">Horror</a>
                    </div>
                    <div class="channel" tag-id="17">
                        <a class="channel-a " href="/en/genre/tags/17">Modern</a>
                    </div>
                </div>
                <div class="item-2" id="genre">
                    <div class="content-3">
                        <a href="/en/detail/1752">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1752404c.jpg" alt="Pure Girl" width="100%"></div>
                        </a>
                        <div class="content-title">Pure Girl</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            2.7M
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1732">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1732df55.jpg" alt="The Heiress VS Young Ruffian" width="100%"></div>
                        </a>
                        <div class="content-title">The Heiress VS Young Ruffian</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            2.5M
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/7">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/79b46.jpg-posterend4" alt="My Underworld Boyfriend" width="100%"></div>
                        </a>
                        <div class="content-title">My Underworld Boyfriend</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            1.9M
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/139215">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/139215ac71.jpg" alt="First Miss Reborn" width="100%"></div>
                        </a>
                        <div class="content-title">First Miss Reborn</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            190.0K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/21">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/213c41.jpg-posterend4" alt="Hunk No.1" width="100%"></div>
                        </a>
                        <div class="content-title">Hunk No.1</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            2.5M
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1806">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/180629be.jpg-posterend4" alt="The Icy Ceo and the Substitute Bride" width="100%"></div>
                        </a>
                        <div class="content-title">The Icy Ceo and the Substitute Bride</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            286.5K
                        </div>
                    </div>
                </div>
                <div class="loading">
                    <img src="http://cn.e.pic.mangatoon.mobi/for-clients/loading.gif" width="50px;">
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <h2 class="item-title">Manga Update Today</h2>
                <a href="/en/genre/update-today">
                    <span class="see-all">See all &gt;</span>
                </a>
                <div class="item-2">
                    <div class="content-3">
                        <a href="/en/detail/496">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/4961736.jpg-posterup4" alt="Boy in A Girls' School" width="100%"></div>
                        </a>
                        <div class="content-title">Boy in A Girls' School</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            690.1K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/87006">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/870062123.jpg-posterup4" alt="Spicy Wife's Reborn World" width="100%"></div>
                        </a>
                        <div class="content-title">Spicy Wife's Reborn World</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            33.7K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/2474">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/247488f4.jpg-posterup4" alt="Return of the Heavenly Monarch" width="100%"></div>
                        </a>
                        <div class="content-title">Return of the Heavenly Monarch</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            19.2K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/46802">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/46802903e.jpg-posterup4" alt="Poisonous Phoenix" width="100%"></div>
                        </a>
                        <div class="content-title">Poisonous Phoenix</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            300.5K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/93611">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/93611011e.jpg-posterup4" alt="Dragon Prince Yuan" width="100%"></div>
                        </a>
                        <div class="content-title">Dragon Prince Yuan</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            79.8K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1870">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/18708592.jpg-posterup4" alt="The Brilliant Village Doctor" width="100%"></div>
                        </a>
                        <div class="content-title">The Brilliant Village Doctor</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            217.9K
                        </div>
                    </div>
                    <div class="content-3">
                        <a href="/en/detail/2026">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/2026cbc7.jpg-posterup4" alt="Mortals of the Doom" width="100%"></div>
                        </a>
                        <div class="content-title">Mortals of the Doom</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            378.3K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/2074">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/20744f85.jpg-posterup4" alt="The World of Canglan" width="100%"></div>
                        </a>
                        <div class="content-title">The World of Canglan</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            610.0K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/1874">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1874f217.jpg-posterup4" alt="A Pretty’s Super Zombie" width="100%"></div>
                        </a>
                        <div class="content-title">A Pretty’s Super Zombie</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            148.0K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/83157">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/831577f86.jpg-posterup4" alt="Exclusive Possession of Your Heart" width="100%"></div>
                        </a>
                        <div class="content-title">Exclusive Possession of Your Heart</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            135.1K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/38427">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/3842725b1.jpg-posterup4" alt="No Way, My Best Actress Wife" width="100%"></div>
                        </a>
                        <div class="content-title">No Way, My Best Actress Wife</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            332.3K
                        </div>
                    </div>
                    <div class="content-4">
                        <a href="/en/detail/168713">
                            <div class="content-image"><img src="http://cn.e.pic.mangatoon.mobi/cartoon-posters/1687130159.jpg-posternew4" alt="They All Want to Marry Me! Help!" width="100%"></div>
                        </a>
                        <div class="content-title">They All Want to Marry Me! Help!</div>
                        <div class="list-icon">
                            <span class="iconfont heart"></span>
                            13.4K
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--APP导流下载-->
        <div class="index-download-bg">
            <a href="https://go.onelink.me/ZaZg?pid=official-web">
                <img src="/images/icon/mangatoon.png" class="icon-img">
            </a>
            <a href="https://go.onelink.me/ZaZg?pid=official-web" class="download-info">In APP, enjoy better reading experience</a>
            <a href="https://go.onelink.me/ZaZg?pid=official-web">
                <img src="/images/icon/bottom_dl.png" class="bottom-img">
            </a>
            <a href="https://appgallery5.huawei.com/?fbclid=IwAR1laliMoYSu79bM3xBoDBrZNlGUJUAXKExql43q8oB6LBPIIO6qebn2BOQ#/app/C100821165">
                <img src="/images/icon/appgallery.png" class="huawei-img">
            </a>
            <img src="/images/icon/bottom_close.png" class="bottom-close" id="close-download-bg">
            <a href="https://go.onelink.me/ZaZg?pid=official-web" class="download-btn">Download</a>
        </div>

        <style>
  h2{margin:0;}
  .banner{width:100%;overflow:hidden;}
  .banner-images{width:1200px;margin:30px auto;position:relative;}
  .change-banner-left{position:absolute;top:50%;left:-150px;z-index:20;transform:translateY(-50%);}
  .change-banner-right{position:absolute;top:50%;right:-150px;z-index:20;transform:translateY(-50%);}
  .arrow{font-size:100px;color:#CCCCCC;}
  .slide{width:100%;overflow:hidden;position:relative;}
  .slide .img{overflow:hidden;position:absolute;transition:width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;}
  .slide .img img{width:calc(100% - 14px);height:calc(100% - 14px);margin:7px;}
  .slide-bt{position:absolute;left:50%;bottom:0;z-index:10;}
  .slide-bt span{width:8px;height:8px;background:#c9caca;float:left;margin:5px;border-radius:4px;}
  .slide .slide-bt .on{background:#FF5454;width:24px;}
  .slide .img1{width:0;top:12%;left:-50%;z-index:1;}
  .slide .img2{width:35%;top:12%;left:-5%;z-index:2;}
  .slide .img3{width:50%;top:0;left:25%;z-index:3;}
  .slide .img4{width:35%;top:12%;right:-5%;z-index:2;}
  .slide .img5{width:0;top:12%;left:110%;z-index:1;}
  .suggestions{width:1200px;margin:30px auto;overflow:hidden;}
  .item-title{color:#333333;font-weight:bold;font-size:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  .item{margin-top:30px;overflow:hidden;margin-bottom:40px;}
  .item-2{margin-top:30px;overflow:hidden;margin-bottom:0;}
  .content-1{float:left;width:270px;margin-bottom:30px;}
  .content-2{float:left;width:270px;margin-left:40px;margin-bottom:30px;}
  .content-1 .content-image{height:211px;width:100%;}
  .content-2 .content-image{height:211px;width:100%;}
  .content-3{float:left;width:175px;margin-bottom:30px;}
  .content-4{float:left;width:175px;margin-left:30px;margin-bottom:30px;}
  .content-3 .content-image{height:233px;width:100%;}
  .content-4 .content-image{height:233px;width:100%;}
  .cartoon-1{float:left;width:380px;margin-bottom:30px;}
  .cartoon-2{float:left;width:380px;margin-left:30px;margin-bottom:30px;}
  .cartoon-1 .content-image{width:100%;}
  .cartoon-2 .content-image{width:100%;}
  .content-title{font-size:18px;color:#333333;line-height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:10px;}
  .subtitle{color:#999999;font-size:14px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:2px;}
  .list-icon{margin-top:10px;color:#FF5454;font-size:13px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  .heart{color:#F5574B;width:12px;height:12px;margin-left:5px;margin-right:5px;}
  .list{width:100%;margin-bottom:30px;overflow:hidden;}
  .list-item{width:1200px;margin:30px auto;overflow:hidden;position:relative;}
  #list-channels{margin-top:10px;overflow-y:hidden;overflow-x:auto;white-space:nowrap;}
  .channel{display:inline-block;margin-right:20px;padding:0 10px;margin-bottom:5px;}
  .channel-a{height:30px;line-height:30px;font-size:18px;color:#948084;}
  .activity{border-bottom:2px solid #FF5454;font-weight:bold;color:#FF5454;}
  .see-all{position:absolute;right:0;top:10px;color:#FF5454;font-size:18px;}
  .loading{width:100%;text-align:center;margin-top:20px;display:none;}
  iframe{width:100%;height:1800px;}
  .index-download-bg{width:100%;height:70px;z-index:999;background:rgba(51,51,51,0.7);position:fixed;left:0;bottom:0;display:flex;flex-direction:row;justify-content:center;align-items:center;}
  .index-download-bg .icon-img{width:50px;height:50px;}
  .index-download-bg .download-info{margin-left:20px;color:rgba(255,255,255,1);font-size:18px;font-weight:400;}
  .index-download-bg .bottom-img{width:268px;height:40px;margin-left:50px;}
  .index-download-bg .huawei-img{width:128px;height:40px;margin-left:15px;}
  .index-download-bg .bottom-close{width:20px;height:20px;margin-left:40px;}
  .index-download-bg .download-btn{display:none;}
  /* 手机端CSS适配 */
  media only screen and (max-width:800px){
    .banner-images{width:100%;margin:0;}
    .change-banner-left{display:none;}
    .change-banner-right{display:none;}
    .slide .img img{width:100%;height:auto;margin:0;}
    .slide .img1{width:0;top:12%;left:-50%;z-index:1;}
    .slide .img2{width:100%;top:0;left:-100%;z-index:3;}
    .slide .img3{width:100%;top:0;left:0;z-index:3;}
    .slide .img4{width:100%;top:0;right:-100%;z-index:3;}
    .slide .img5{width:0;top:12%;left:110%;z-index:1;}
    .suggestions{width:100%;margin:20px auto;overflow:hidden;}
    .item-title{color:#333333;font-weight:bold;font-size:22px;margin-left:10px;width:70%;}
    .item{margin-top:20px;overflow:hidden;margin-bottom:10px;}
    .item-2{margin-top:20px;overflow:hidden;margin-bottom:0;}
    .content-1{float:left;width:49%;margin-bottom:20px;margin-right:2%;}
    .content-2{float:left;width:49%;margin-bottom:20px;}
    .content-2:nth-child(2n){margin-left:0;}
    .content-2:nth-child(2n+1){margin-left:0;margin-right:2%;}
    .content-1 .content-image{padding-bottom:78%;height:0;width:100%;}
    .content-2 .content-image{padding-bottom:78%;height:0;width:100%;}
    .content-3{float:left;width:32%;margin-bottom:20px;margin-right:2%;}
    .content-4{float:left;width:32%;margin-bottom:20px;}
    .content-3 .content-image{padding-bottom:133.33%;height:0;width:100%;}
    .content-4 .content-image{padding-bottom:133.33%;height:0;width:100%;}
    .content-4:nth-child(3n){margin-left:0;margin-right:0;}
    .content-4:nth-child(3n+1){margin-left:0;margin-right:2%;}
    .content-4:nth-child(3n+2){margin-left:0;margin-right:2%;}
    .cartoon-1{width:100%;margin-bottom:20px;}
    .cartoon-2{width:100%;margin-left:0;margin-bottom:20px;}
    .content-title{font-size:14px;line-height:20px;margin-left:5px;margin-top:5px;}
    .subtitle{font-size:12px;margin-left:5px;margin-top:0;}
    .list-icon{font-size:12px;margin-top:5px;}
    #list-channels{margin-left:5px;}
    .list{margin-bottom:0;}
    .list-item{width:100%;margin:20px 0;}
    .channel{margin-right:10px;padding:0 5px;}
    .channel-a{height:20px;line-height:20px;font-size:14px;}
    .see-all{font-size:14px;right:10px;}
    iframe{width:100%;height:2000px;}
    .index-download-bg .download-info{margin-left:12px;font-size:12px;width:150px;line-height:18px;}
    .index-download-bg .bottom-img{display:none;}
    .index-download-bg .huawei-img{display:none;}
    .index-download-bg .bottom-close{display:none;}
    .index-download-bg .download-btn{display:block;padding:0 15px;height:36px;background:rgba(255,69,69,1);border-radius:18px;color:#fff;font-size:14px;text-align:center;line-height:36px;}
  }
        </style>

        <script src="/js/banner-scroll.js" type="text/javascript"></script>
        <script>
            $(function () {

                $('.change-banner-left').click(function () {
                    left();
                });

                $('.change-banner-right').click(function () {
                    right();
                });

                $('#close-download-bg').click(function () {
                    $('.index-download-bg').hide()
                })

            })
        </script>
    </div>

</body >
</html >
