
@{
    ViewBag.Title = "test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HOÀNG THỊ NGỌC ÁNH</h2>



        public ActionResult Login()
        {
            return View();
        }

        public bool RememberMe { set; get; }
        [HttpPost]
        [ValidateAntiForgeryToken]
        public ActionResult Login(Account accounts)
        {
            var ketqua = from s in db.Accounts
                         where s.accountname == accounts.accountname
                         && s.passwords == accounts.passwords
                         select s;
           if(ketqua.Any())
            {

                FormsAuthentication.SetAuthCookie(accounts.accountname,RememberMe);
                return RedirectToAction("Index", "Home");
            }
            else
            {
                ModelState.AddModelError("", "Tên đăng nhập hoặc mật khẩu không đúng");
            }
            return View(accounts);
        }

        public ActionResult Logout()
        {
            FormsAuthentication.SignOut();
            return RedirectToAction("Index", "Home");
        }