@model IEnumerable<THUVIENSO.Models.book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{
    <ul>
        <li>
            <img src="@Url.Content(item.img)" height="150" width="120" />
            <span>@item.booktitle</span>
            <button>Tải xuống </button>
        </li>
    </ul>

}


